.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 0;
    height: 50px;
    padding: 0 50px;
    margin: 0 auto;
    background-color: rgb(167, 165, 165);
    
}


.nav-links a {
    text-decoration: none;
    color: purple;
    font-style: italic;
    font-weight: 700;
    margin-right: 15px;
    font-size: 25px;
}

.nav-links a:hover {
    text-decoration: underline;
}


@media (max-width: 820px) {
    .navbar {
      padding: 10px 35px;
    }
    .nav-links {
      font-size: 12px;
      text-transform: uppercase;
    }
    .logo img {
      width: 100px;
      
  }
}